
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border: 1px solid #e7e7e7;
}
.nav li {
    display: inline;
    color: white;
    text-decoration: none;
    padding: 0px;
    background-color: #333;
    float: left;
    border-right: 1px solid #bbb;
    }

.nav li a {
    display: block;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover{
    background-color: grey;
}

image {
    align-content: center;
    border-radius: 50%;
}